@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*,
*::before *::after {
    box-sizing: border-box;
}

button,
a {
    appearance: none;
    box-shadow: none;
    background: none;
    border: none;
    outline: unset;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 7vh;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 4em;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: #161414;
    font-size: 22px;
    font-weight: 600;
    position: relative;
}

nav a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -3px;
    transition: width .3s;
}

nav a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -3px;
}

nav a:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid transparent;
    bottom: -3px;
    transition: all .3s ease-out;
}

nav a.active:before {
    border-color: black;
}

nav a:hover::before {
    width: 100%;
    border-color: black;
}

main {
    display: flex;
    gap: 8em;
    margin-top: 2em;
    padding: 4.5em;
    flex: start;
}

.left-col {
    width: 45%;
}

.right-col {
    flex-grow: 1;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.subhead {
    font-size: 20px;
    font-weight: 600;
    padding: 2em 0;
}

.button {
    display: flex;
    gap: 20px;
    margin: 1.7em 0;
}

.primary-cta {
    background-color: #A395F9;
    font-size: 25px;
    font-weight: 700;
    border-radius: .8em;
    color: black;
    text-decoration: none;
    padding: .55em .75em;
}

.secondary-cta {
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    display: block;
    margin-top: .6em;
}

.secondary-cta svg {
    width: 30px;
}

.news {
    padding: 1em 1.3em;
    border: 2px black solid;
    border-radius: .8em;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.news::before {
    position: absolute;
    content: "";
    background: url('');
}

.right-col {
    display: grid;
    gap: 1em;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card {
    border-radius: .3em;
    padding: .4em;
    display: flex;
    align-items: end;
    background-size: 150%;
}

.card1 {
    background-image: url('../img/f3eeb3c0102320e8726c3d9a3779fa14.jpg');
}

.card2 {
    background-image: url('../img/46dca1d8cc1ff6e22174169eceb3bbf8.jpg');
}

.card3 {
    background-image: url('../img/e2d1f95656ac289c7527b1ad7dbeef37.jpg');
    grid-column: 1/3;
}

.card-details {
    background-color: #fff;
    border-radius: .4em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-details a {
    font-size: 12px;
    font-weight: 800;
    color: black;
    text-decoration: none;
}

.card-details p {
    font-size: 12px;
    font-weight: 500;
}

p.price {
    font-size: 18px;
    font-weight: 600;
}

nav ul li a:hover:before {
    width: 35%;
}

.primary-cta:hover {
    background: #cac2fa;
}

.secondary-cta:hover svg {
    transform: translateX(10px);
    transition: all 0.3s ease-out;
}

.card:hover {
    background-size: 160%;
    transition: all 0.3s ease-out;
}

.card:hover .card-details {
    transform: translateY(-5px);
    transition: all 0.3s ease-out;
}